name: rotated_corner_decoration
description: RotatedCornerDecoration package was developed to create and apply corner triangle badges. It provides auto rotation of TextSpans.
version: 1.0.1
homepage: https://github.com/kalaganov/corner_decoration

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
